.login-container{
    height: 100vh;
    margin: 0;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    font-family: roboto;
    background-color: var(--green);
}

.border{
    width: 80vw;
    border: 5px solid #000;
}

.registration{
    margin: 0px 100px;
}

#login h2{
    font-family: robotoitalic;
}

#login input{
    all: unset;
    background-color: none;
    border-bottom: 3px solid #000;
    width: 100%;
    margin: 5px 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--green) inset !important;
}

#login label{
    margin: 15px 0px;
    font-family: symtext;
}

#login h3{
    font-family: metalgear;
}

#login button{
    color: #000;
    margin: 0;
    padding: 0 0 5px 0;
    font-family: symtext;
} 
