.login-container{
    height: 100vh;
    background:var(--green);
    margin: 0;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    font-family: roboto;
}

.border{
    width: 100vw;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}

.registration{
    margin: 0px 100px;
}

#login input{
    all: unset;
    background-color: none;
    border-bottom: 3px solid #000;
    width: 100%;
    margin: 5px 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--green) inset !important;
}

#login label{
    margin: 15px 0px;
}

#login button{
    color:  #000;
    font-family: robotoitalic;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    border-bottom: 3px solid #000;
}